<form class="login" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <fieldset>
    <legend class="login-title">Log into your account</legend>

    <div class="field field-icon">
      <label for="email"><span><i class="fas fa-user"></i></span></label>
      <input
        [class.input-error]="isEmailValid"
        type="email"
        id="email"
        placeholder="john.doe@gmail.com"
        formControlName="email"
      />
    </div>
    @if (isEmailValid) {
    <p class="error">
      {{ emailErrorMessage }}
    </p>
    }

    <div class="field field-icon">
      <label for="password"><span><i class="fas fa-key"></i></span></label>
      <input
        [class.input-error]="isPasswordValid"
        type="password"
        id="password"
        placeholder="******"
        formControlName="password"
      />
    </div>
    @if (isPasswordValid) {
    <p class="error">
      {{ passwordErrorMessage }}
    </p>
    }

    <button [disabled]="loginForm.invalid">Login</button>

    <footer class="text-center">
      You don't have an account?
      <a routerLink="/register">Sign in.</a>
    </footer>
  </fieldset>
</form>