<section class="theme-wrapper">
  <header class="theme-header">
    <article class="theme-content">
      <a href="#" class="theme-link">
        <h2 class="theme-title">{{ theme.themeName | sliceTitle }}</h2>
      </a>
      <div class="theme-details">
        <section>
          <p class="theme-date">
            Date: <time>{{theme.created_at | date: 'dd.MM.yyyy HH:mm:ss'}}</time>
          </p>
          <div class="theme-user">
            <p>
              Username: <span>{{ theme.userId.username }}</span>
            </p>
          </div>
        </section>
        <aside class="theme-subscribers">
          @if (isLoggedIn && theme.userId.id !== currentUserId) {
                        @if (isSubscribed(theme.id)) {
                            <button class="unsubscribe" (click)="toggleSubscribe(theme.id)">Unsubscribe</button>
                        } @else {
                            <button class="subscribe" (click)="toggleSubscribe(theme.id)">Subscribe</button>
                        }
                    }
          <p>
            Subscribers: <span>{{ theme.subscribers.length }}</span>
          </p>
        </aside>
      </div>
    </article>
  </header>
</section>